body {
    margin: 0px;
    background-color: lightgray;
    color: blue;
    font-weight: bolder;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
    font-weight: bold;
    color: blue;
}